@import url("../Font/balsamiqsans-master/fonts/webfonts/balsamiqsans.css");
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
*{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Balsamiq Sans',sans-serif;
}

body{
    background-image: url("../img/fondo.jpg");
    color: black;
}



.nombre{
    margin: 0 auto;
    font-family: 'Balsamiq Sans',sans-serif;
    font-size: 5em;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    margin-top: 20px;
    display: block;
    width: 100%;
    color: black;
    
}

.creditos{
    margin-top: 10%;
    padding-right: 12em;
    padding-left: 12em;
    
}


#primer{
    display: none;
    font: 5vw/10vh "Finger Paint";
}
#segundo{
    padding-right: 2em;
    padding-left: 2em;
    display: none;
    font: 3vw/10vh "Finger Paint";
    
}
#tercero{
    padding-right: 2em;
    padding-left: 2em;
    display: none;
    font: 3vw/10vh "Finger Paint";
}
#cuarto{
    display: none;
    font: 5vw/10vh "Finger Paint";

}
#quinto{
    display: none;
    font: 5vw/10vh "Finger Paint";

}
#sexto{
    display: none;
    font: 5vw/10vh "Finger Paint";

}
#septimo{
    display: none;
    font: 5vw/10vh "Finger Paint";

}
#octavo{
    display: none;
    font: 5vw/10vh "Finger Paint";

}


footer{
    position: absolute;
     bottom: 0;
     width: 100%;
}





/*------------------------------------------------ BOTON VOLVER------------------------------------------------*/
.volver{
    display: flex;
   flex-direction: column;
   justify-content :center;
    align-items:flex-end;
    width: 100%;
    padding-right: 50px;
    padding-bottom: 50px;
    opacity: 0.2;
    transition: opacity 1s;
}

.volver:hover{
    opacity: 1;
}

.btn-volver{
    display: flex;
    background-color: rebeccapurple;
    width: 15%;
    height: 70px;
    background-image: url("../img/fondoBoton.jpg");
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    font-size: 2em;
    transition: width 1s;
    justify-content :center;
    align-items:center;
    text-decoration: none;
    color: black;
   
}


/*------------------------------------------------FIN BOTON VOLVER------------------------------------------------*/






/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/



@media only screen and (max-width: 600px) {

    body{
        background-image: url("../img/fondo_mv.jpg");
        color: black;
        
    }

    .volver{
        display: flex;
       flex-direction: column;
       justify-content :center;
        align-items:flex-end;
        
        width: 100%;
        padding-right: 50px;
        padding-bottom: 50px;
        opacity: 0.2;
        transition: opacity 1s;
        
    }
    
    .volver:hover{
        opacity: 1;
    }
    
    .btn-volver{
        display: flex;
        background-color: rebeccapurple;
        width: 15%;
        height: 70px;
        background-image: url("../img/fondoBoton.jpg");
        border: none;
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
        font-size: 1.5em;
        transition: width 1s;
        justify-content :center;
        align-items:center;
        text-decoration: none;
        color: black;
       
    }

    .creditos{
        margin-top: 10%;
        margin: 0em;
        padding: 0em;
       
        width: 100%;
    }

    #primer{
        margin-top: 40%;

        display: none;
        font: 5vw/10vh "Finger Paint";
    }
    #segundo{
        margin-top: 40%;
        display: none;
        font: 4vw/10vh "Finger Paint";
        
    }
    #tercero{
        margin-top: 40%;
        display: none;
        font: 4vw/10vh "Finger Paint";
    }
    #cuarto{
        margin-top: 40%;
        display: none;
        font: 5vw/10vh "Finger Paint";
    
    }
    #quinto{
        margin-top: 50%;
        display: none;
        font: 5vw/4vh "Finger Paint";
    
    }
    #sexto{
        margin-top: 40%;
        
        display: none;
        font: 5vw/4vh "Finger Paint";
    
    }
    #septimo{
        margin: auto;
        
        display: none;
        font: 5vw/4vh "Finger Paint";
    
    }
    #octavo{
        margin-top: 40%;
        margin: auto;
        display: none;
        font: 5vw/4vh "Finger Paint";
    
    }




  }

