@import url("../Font/balsamiqsans-master/fonts/webfonts/balsamiqsans.css");

*{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Balsamiq Sans',sans-serif;
}
body{
    background-image: url("../img/fondo.jpg");
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nombre{
    margin: 0 auto;
    font-size: 3em;
    margin-top: 20px;
    display: block;
    width: 100%;
    color: black;
    -webkit-text-stroke: 2px white;

}

