

@import url("../Font/balsamiqsans-master/fonts/webfonts/balsamiqsans.css");

*{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Balsamiq Sans',sans-serif;
}
body{
    background-image: url("../img/fondo.jpg");
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
}

footer{
    position: absolute;
     bottom: 0;
     width: 99%;
}

.puntuacion{
   
    width: 40%;
    
}

.panel{
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    
}


.panel h1{
    font-weight: bold;
    color: black;
    font-size: 3em;
    -webkit-text-stroke: 1px white;
}
.panel input{
    display: flex;
    background-color: transparent;
    border: none;
    
    
}
.panel > *{
    display: flex;
    margin: auto;
    height: 50%;
    
}


.nombre{
   
    display: block;
    width: 60%;
    font-size: 1.5em;
    color: black;
    -webkit-text-stroke: 2px white;
}


/*------------------------------------------------ IMG------------------------------------------------*/
/*
ANCHO 144
ALTO 217
*/
/*------------------------------------------------ FIN IMG------------------------------------------------*/








/*------------------------------------------------ BOTON VOLVER------------------------------------------------*/
.volver{
    display: flex;
   flex-direction: column;
   justify-content :center;
    align-items:flex-end;
    width: 100%;
    padding-right: 50px;
    padding-bottom: 50px;
    opacity: 0.2;
    transition: opacity 1s;
}
.volver:hover{
    opacity: 1;
}

.btn-volver{
    display: flex;
    background-color: rebeccapurple;
    width: 15%;
    height: 70px;
    margin-top: 50px;
    background-image: url("../img/fondoBoton.jpg");
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    font-size: 2em;
    transition: width 1s;
    justify-content :center;
    align-items:center;
    text-decoration: none;
    color: black;
   
}






/*------------------------------------------------FIN BOTON VOLVER------------------------------------------------*/

table,tr,td{
    border-collapse: collapse;
    border: 1px solid black;
}

.facil{
    display: flex;
}

.medio{
    display: none;
}
.avanzado{
    display: none;
}

.nidecoña{
    display: none;
}
section{
    width: 100%;
    background-color: yellow;
}
.juego{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}