@import url("../Font/balsamiqsans-master/fonts/webfonts/balsamiqsans.css");

*{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Balsamiq Sans',sans-serif;
}
body{
    background-image: url("../img/fondo.jpg");
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nombre{
    margin: 0 auto;
    font-size: 3em;
    margin-top: 20px;
    display: block;
    width: 100%;
    color: black;
    -webkit-text-stroke: 2px white;

}
.menu{
    margin:  auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    justify-content :center;
    align-items:flex-end;
   
    
}
.btn{
    width: 40%;
    height: 70px;
    margin-top: 50px;
    background-image: url("../img/fondoBoton.jpg");
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    display: flex;
    text-align: center;
    justify-content :center;
    align-items:center;
    font-size: 2em;
    transition: width 1s;
}
.btn:hover{
    cursor: pointer;
    font-size: 3em;
    font-weight: bold;
    width: 60%;
}

.ficha{
    margin-top: -15em;
    display: flex;
    width: 40%;
    justify-content :center;
}
.ficha img{
    height: 200px;
}
a{
    text-decoration: none;
    color: black;
}



/*------------------------------------------------MOVIMIENTO IMG------------------------------------------------*/
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.ficha img{
    -webkit-animation: 5s rotate linear infinite;
    animation: 10s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.ficha img:hover{
    -webkit-animation: 1s rotate linear infinite;
    animation: 1s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.ficha img {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
/*------------------------------------------------FIN MOVIMIENTO IMG------------------------------------------------*/
