@import url("../Font/balsamiqsans-master/fonts/webfonts/balsamiqsans.css");

*{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Balsamiq Sans',sans-serif;
}
body{
    background: url("../img/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nombre{
    margin: 0 auto;
    font-size: 3em;
    margin-top: 20px;
    display: block;
    width: 100%;
    color: black;
    -webkit-text-stroke: 2px white;

}
.menu{
    margin:  auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    justify-content :center;
    align-items:flex-end;
   
}
.btn{
    width: 40%;
    height: 70px;
    margin-top: 50px;
    background-image: url("../img/fondoBoton.jpg");
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    display: flex;
    text-align: center;
    justify-content :center;
    align-items:center;
    font-size: 2em;
    transition: width 1s;
}
.btn:hover{
    cursor: pointer;
    font-weight: bold;
    width: 60%;
    font-size: 3em;
}

.ficha{
    margin-top: -15em;
    display: flex;
    width: 40%;
    justify-content :center;
}
.ficha img{
    height: 200px;
}
a{
    text-decoration: none;
    color: black;
}
/*------------------------------------------------ BOTON VOLVER------------------------------------------------*/
.volver{
    display: flex;
   flex-direction: column;
   justify-content :center;
    align-items:flex-end;
    width: 100%;
    padding-right: 50px;
    padding-bottom: 50px;
    opacity: 0.2;
    transition: opacity 1s;
}
.volver:hover{
    opacity: 1;
}

.btn-volver{
    display: flex;
    background-color: rebeccapurple;

 

    width: 15%;
    height: 70px;
    margin-top: 50px;
    background-image: url("../img/fondoBoton.jpg");
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    font-size: 2em;
    transition: width 1s;
    justify-content :center;
    align-items:center;
   
}






/*------------------------------------------------FIN BOTON VOLVER------------------------------------------------*/




/*------------------------------------------------MOVIMIENTO IMG------------------------------------------------*/
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.ficha img{
    -webkit-animation: 5s rotate linear infinite;
    animation: 10s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.ficha img:hover{
    -webkit-animation: 1s rotate linear infinite;
    animation: 1s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.ficha img {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
/*------------------------------------------------FIN MOVIMIENTO IMG------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .ficha{
        display: none;
    }
    .nombre{
        font-size: 2em;
    }
    .btn{
        font-size: 1em;
    }
    .menu{
        width: 100%;
        text-align: center;
        justify-content :center;
        align-items: center;
    }
    .btn-volver{
        font-size: 1em;
    }
  }